.form {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  color: #111;
  height: clamp(2rem, 2.5vw, 2.5rem);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  font-size: clamp(1rem, 1.8vh, 1.2rem);
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.249); */
}

.input:focus {
  outline: none;
  border-bottom: 5px solid rgba(116, 246, 116, 0.669);
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
}

.button {
  height: clamp(3rem, 3vw, 4rem);
  border-radius: 5px;
  background-color: #4A6FFF;
  color: white;
  border: none;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.3rem);
}