body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* overflow-x: hidden; */
  height: 100vh;
  /* make body take full viewport height */
  display: flex;
  /* enable flexbox */
  flex-direction: column;
}

@media (max-width: 1024px) {
  body {
    justify-content: flex-end;
    /* push content to bottom */
  }
}